


body {
    background-image: #ffffff;
    background: url("papyrus.png");
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    display:flex;
    min-height: 100vh;
  }


  h1, h2 {
    color: #444444;
    font-family: Helvetica;
  }

  ul {
    margin: 0;
  }

  .bg-steel {
    background-color:  #004254;
  }

  .navbar > .container {
     margin: 10px 0px;
  }

  .navbar {
    font-size: 21px;
    font-family: Helvetica;
  }
  .navbar-nav .nav-link.active {
    font-weight: 500;

  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 50px;
    margin-bottom: 50vh;
  }

  .article-title {
    color: #444444;
  }

  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }

  .article-content {
    white-space: pre-line;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }

  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .account-heading {
    font-size: 2.5rem;
  }

  #div_d {
    float:left;
  }

  #page-content {
    flex: 1 0 auto;
  }

  #sticky-footer {
    align-self: flex-end;
    color: #ffffff;
    width:100%;
  }

  .scrollbars {overflow:scroll; height:300px;}
