{% extends "repositorio/base.html" %}
{% load static %}
{% block content %}
  <section class="content-section">
    <fieldset class="form-group">
      <legend class="border-bottom"><h2>Manual de usuario</h2></legend>
    </fieldset>
    <p class="mt-2 pt-2">
      En este pequeño manual de usuario, se pretende realizar una breve introducción sobre como utilizar la herramienta web <b> ClaTek </b>.

    </p>
    <fieldset class="form-group">
      <legend class="border-bottom"><h4>Inicio</h4></legend>
    </fieldset>
    <p >
      En esta ventana tenemos una parte introductoria a la aplicación web, un poco se habla del contexto al que pertence el problema y
      la necesidad de su creación (Ver Figura 1).
    </p>
    <div align="center">
      <figure>
        <img src="{%static 'repositorio/img/inicio_web.png' %}" alt="Listar modelos" style="width:65%;">
        <figcaption>Figura 1 - Inicio </figcaption>
      </figure>
    </div>
    <fieldset class="form-group">
      <legend class="border-bottom"><h4>Modelos</h4></legend>
    </fieldset>
    <p>
      Esta sección contiene tres vistas principales:
    </p>
      <ul>
        <li> <b>Listado de modelos</b>: Como puede usted comprobar en esta vista, se listan todos los modelos disponibles, agrupados por nombre, usuario de creación y fecha. Además tienen la particularidad de poder ser descargados y vistos en detalle (Ver Figura 2). </li>
      </ul>
      <br> </br>
        <div align="center">
          <figure>
            <img src="{%static 'repositorio/img/listar_modelosweb1.png' %}" alt="Listar modelos" style="width:65%;">
            <figcaption>Figura 2 - Listar modelos </figcaption>
          </figure>
        </div>
        <ul>
        <li> <b>Subir un modelo</b>: por el contrario en esta vista usted puede subir un modelo indicando todos los campos disponibles en el formulario (Ver Figura 3).</li>
        <br> </br>
        </ul>
          <div align="center">
            <figure>
              <img src="{%static 'repositorio/img/subir_modeloweb.png' %}" alt="Listar modelos" style="width:65%;">
              <figcaption>Figura 3 - Listar modelos </figcaption>
            </figure>
          </div>
        <ul>
        <li> <b>Detalles de un modelo y su edición</b>: para editar los modelos, tiene que ir en detalle a la vista de un modelo pulsando en <i> más información </i> (Ver Figura 4).</li>
        <br> </br>
      </ul>
      <div align="center">
        <figure>
          <img src="{%static 'repositorio/img/editarweb.png' %}" alt="Listar modelos" style="width:65%;">
          <figcaption>Figura 4 - Detalle de un modelo </figcaption>
        </figure>
      </div>
      <br> </br>
      <p> Presionando en actualizar, usted podrá editar cualquier modelo disponible, así como la modificación de la sección contenido (Ver Figura 5).   </p>
      <div align="center">
        <figure>
          <img src="{%static 'repositorio/img/editarmodelos.png' %}" alt="Listar modelos" style="width:65%;">
          <figcaption>Figura 5 - Editar un modelo </figcaption>
        </figure>
      </div>
      <fieldset class="form-group">
        <legend class="border-bottom"><h4>Predecir</h4></legend>
      </fieldset>
      Usted podrá predecir con los modelos que ha subido, utilizando un el formulario <i> Predecir </i>, por el cual usted necesitará un modelo de los que ha subido, los archivos a predecir,
      el tokenizador con el que se ha entrenado dicho modelo (conversión de textos a secuencias) y las etiquetas identificativas de cada clase (Ver Figura 6).
      <br> </br>
      <div align="center">
        <figure>
          <img src="{%static 'repositorio/img/predecirweb3.png' %}" alt="Listar modelos" style="width:65%;">
          <figcaption>Figura 6 - Predecir </figcaption>
        </figure>
      </div>
      Cuando pulsa el botón predecir se le mostrarán los resultados en la ruta "predecir/resultados" (Ver Figura 7).
      <br> </br>
      <div align="center">
        <figure>
          <img src="{%static 'repositorio/img/res.png' %}" alt="Listar modelos" style="width:65%;">
          <figcaption>Figura 7 - Resultados </figcaption>
        </figure>
      </div>
  </section>



{% endblock content %}
