{% load static %}
{% load recaptcha2 %}

<!DOCTYPE html>
<html lang="es">
<head>
  {% recaptcha_init %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{%static 'repositorio/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{%static 'repositorio/css/main.css' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{%static 'repositorio/img/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{%static 'repositorio/img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{%static 'repositorio/img/favicon-16x16.png' %}">
  <link rel="manifest" href="{%static 'repositorio/img/site.webmanifest' %}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="https://kit.fontawesome.com/c6e79f5afd.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="/static/base/js/main.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <title>ClaTek - Clasificador de Textos en Keras</title>

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-steel navbar-toggleable-sm sticky-top justify-content-center">
    <div class="container">
      <a href="{% url 'repositorio-inicio' %}" class="navbar-brand d-flex w-50 mr-auto">
        <img src="{%static 'repositorio/img/apple-touch-icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        laTek
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
          {% if user.is_authenticated %}
          <li class= "nav-item">
            <a class="nav-link" href="{% url 'repositorio-inicio' %}">Inicio</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link" href="{% url 'repositorio-listar_modelos' %}">Modelos</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link " href="{% url 'repositorio-predecir' %}">Predecir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repositorio-ayuda' %}">Ayuda</a>
          </li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'perfil' %}">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'login' %}">Acceder</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'registrarse' %}">Registrarse</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <main role="main" class="container mt-2 pt-2" id="cuerpo" >
    <div class="row">
      <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <!-- Site footer -->
  <body class="d-flex flex-column">
    <div id="page-content">

    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; Javier Monescillo Buitrón</small>
      </div>
    </footer>
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    var cambio = false;
    $('.navbar-nav li a').each(function(index) {
      if(this.href.trim() == window.location){
        $(this).parent().addClass("active");
        cambio = true;
      }
    });
    if(!cambio){
      $('.navbar-nav li:first').addClass("active");
    }
  });
</script>

</body>
</html>
