{% extends "repositorio/base.html" %}
{% load static %}
{% block content %}

<section class="content-section pb-5">
  {% if user.is_authenticated %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-1"><h2>¿Qué es ClaTek?</h2></legend>
  </fieldset>

  <p class ="mt-3 pt-3">
    <b> ClaTek </b> (<i>Clasificador de Textos en Keras</i>) es una herramienta web desarrollada a raíz del Trabajo Fin de Grado:
    <i> Clasificador automático de documentos con técnicas de procesamiento de lenguaje natural. </i>

  </p>

  <div align="center">
    <img src="{%static 'repositorio/img/clatek.jpeg' %}" alt="Logotipo de HTML5" style="width:50%;">
  </div>
  <br>
  <p>
    La idea principal de este sitio web es poder ser un repositorio web que pretende almacenar diferentes tipos de modelos entrenados para resolver problemas
    relativos al procesamiento de lenguaje natural, en concreto a problemas de clasificación.
  </p>
  <p>
    Este Trabajo Fin de Grado se desarrolla como producto de un convenio FORTE
    firmado entre la Escuela Superior de Informática de Ciudad Real y la empresa Indra Sistemas S.A.
  </p>
  <p>

    Los convenios FORTE son un tipo de acuerdos entre la <i>Escuela</i> y varias empresas punteras en el sector tecnológico.
    Estos convenios pretenden que cualquier alumno tenga la oportunidad de trabajar en un proyecto real
    que fortalezca sus competencias profesionales y adquiera experiencia en el mundo laboral.
  </p>
  <p>

    El programa <i>profESIonalizate</i> enmarca estos convenios como una de las líneas de acción pertenecientes a la <i>Escuela</i> cuyo propósito es llevar a cabo un acercamiento entre los alumnos y las empresas.
    Esto produce una mejora significativa en la empleabilidad ya que en la mayoría de ocasiones, cuando el alumno finaliza este programa tiene altas posibilidades de ser contratado por la empresa que ha firmado el convenio.
  </p>
  <p>

    Indra Sistemas S.A es una empresa multinacional española que ofrece servicios de consultoría.
    Las principales áreas de negocio a las que se dedica son segmentos específicos de los mercados de transporte, defensa, energía, telecomunicaciones y servicios financieros.
    Indra es una de las empresas que oferta plazas FORTE principalmente a los estudiantes de la Intensificación de Computación.
  </p>
  <p>

    Una de las apuestas que hace Indra en el mundo de la Computación e Inteligencia Artificial es la aplicación del <i>machine learning</i> a problemas reales.
    Los grandes volúmenes de datos que genera cualquier empresa o cliente en un proceso de negocio hacen que se necesiten nuevos métodos o técnicas de automatización para mejorar los tiempos y costes en una serie de tareas que tradicionalmente son manuales.
  </p>
  <p>
    Este proyecto ha sido desarrollado con la colaboración del departamento <i>Imaging</i> que pertenece a la filial Indra Software Labs, Centro Mixto I+D situada en Ciudad Real, capital de provincia. La función principal de <i>Imaging</i> es automatizar la gestión documental de un conjunto de clientes y la propia gestión de documentos de Indra.
  </p>

  <fieldset class="form-group">
    <legend class="border-bottom mb-1 pt-4"><h2>¿Qué problema resuelve ClaTeK?</h2></legend>
  </fieldset>
  <p class ="mt-2 pt-2">

    El problema de Indra es un problema clásico en la gestión documental, parte de un conjunto numeroso de facturas que necesita clasificar automáticamente. Estos documentos son una serie de facturas <i>no estructuradas</i> que se quieren separar en tres tipos de clases.

  </p>

  <p>
    El problema principal que se va tratar en este TFG es conocido en el aprendizaje automático como la <i>clasificación multiclase</i>, a diferencia de la <i>clasificación binaria</i>, que cuenta con más de dos clases previas por las cuales se separan los <i>items</i> que se pretenden clasificar.
  </p>

  <p>
    Se necesita construir un clasificador multiclase que clasifique un documento dado como entrada, en una clase de salida. Este clasificador se deberá construir a partir de un conjunto de datos de ejemplo, por lo que se partirá de un dataset que será empleado para aprender y analizar su eficiencia (Ver Figura 1).
  </p>
  <div align="center">
    <figure>
      <img src="{%static 'repositorio/img/multiclass2.png' %}" alt="Problema de la clasificación multiclase" style="width:65%;">
      <figcaption>Figura.1 - Ejemplo clasificación multiclase - Tomado de :<a target="_blank" href="http://dalab.github.io/dissolve-struct/examples/multiclass-classification/">dissolve struct</a> </figcaption>
    </figure>
  </div>

  <p>
    Principalmente para resolver este problema, tenemos que contar con varios conjuntos de datos para así poder realizar los entrenamientos y pruebas pertinentes, los datasets de los que se disponen se enumeran a continuación:

  </p>
  <ul>
    <li><b>Dataset Indra</b>: El proceso para obtener el <i>dataset</i> de facturas consiste en escanear manualmente los documentos y convertirlos en formato pdf. Una vez hecho esto, para obtener el texto plano o ficheros <i>.txt</i> se tiene que aplicar un proceso <a target="_blank" href="https://debitoor.es/glosario/ocr-escaneo">OCR</a>  que fundamentalmente utilizará la librería <a target="_blank" href="https://github.com/tesseract-ocr/tesseract">Tesseract</a></li>
    <li><b>Dataset Noticias</b>: El conjunto de datos <i>20newsgroups</i> es una colección de aproximadamente veinte mil documentos de grupos de noticias, divididos uniformemente en veinte grupos de noticias diferentes. Puede obtenerse <a target="_blank" href="http://qwone.com/~jason/20Newsgroups/">aquí</a>. </li>
  </ul>

  <fieldset class="form-group">
    <legend class="border-bottom mb-1 pt-4"><h2>¿Quien ha desarrollado ClaTeK?</h2></legend>
  </fieldset>
  <p class ="mt-2 pt-2">

  </p>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top img-fluid" src="{%static 'repositorio/img/javi3.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Javier Monescillo Buitrón</h5>
        <p class="card-text">Autor principal de este proyecto. Graduado en Ingeniería Informática por la Intensificación en Computación.
          <br><br>Escuela Superior de Informática (ESI) de la Universidad de Castilla-La Mancha (UCLM).</p>
      </div>

    </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="{%static 'repositorio/img/pepe.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jose Jesús Castro Sánchez</h5>
      <p class="card-text">Tutor académico de este proyecto. Profesor Titular de Universidad. Depto. Tecnologías y Sistemas de Información.
        <br>Escuela Superior de Informática (ESI) de la Universidad de Castilla-La Mancha (UCLM). </p>
    </div>

  </div>


</div>

  {% else %}

  <fieldset class="form-group">
    <legend class="border-bottom mb-1"><h2>Acceso requerido</h2></legend>
  </fieldset>
  <p class = "mt-2 pt-2">
    Le damos la bienvenida a la herramienta web <b> ClaTeK </b> (<i>Clasificador de Textos en Keras</i>) un repositorio web que pretende almacenar diferentes tipos de modelos entrenados para resolver problemas
    relativos al procesamiento de lenguaje natural, en concreto a problemas de clasificación.

  </p>
  <p>
    Para acceder a la aplicación completa, si usted tiene una cuenta pressione en  <a href="{% url 'login' %}">acceder</a>, de lo contrario cree su propia cuenta <a href="{% url 'registrarse' %}"> registrarse</a>.
  </p>

  {% endif %}
</section>

{% endblock content %}
