{% extends "repositorio/base.html" %}
{% block content %}

  <div class ="content-section">
    <fieldset class="form-group">
      <legend class="border-bottom mb-1"><h2>Modelos disponibles</h2></legend>
    </fieldset>
    <p> Aquí puede consultar los modelos disponibles, usted también puede subir un modelo pulsando <a href="{% url 'modelo-nuevo' %}">aquí</a> </p>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <th>Nombre</th>
          <th>Autor</th>
          <th>Fecha</th>
          <th>Descarga</th>
          <th>Ver información</th>
        </thead>
        <tbody>

          {% for mod in modelos %}
            <tr>
              <td>  {{ mod.nombre_modelo }} </td>
              <td> {{ mod.autor }} </td>
              <td> {{ mod.fecha | date:"d F, Y" }} </td>
              <td>
                 <a href="{{ mod.modelo.url }}" class ="btn btn-primary btn-sm" target="_blank", download="{{ mod.modelo.url }}"> Descargar</a>
              </td>
              <td>
                <a href="{% url 'modelokeras-detail' mod.id %}" class ="btn btn-primary btn-sm"> Ver más</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
