{% extends "repositorio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class=content-section>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4"><h2>Subir modelos</h2></legend>
        {{ form|crispy }}
        {{ form.media}}

    </fieldset>

    <div class="form-group">
      <button type="submit" class="btn btn-primary"> Subir modelo </button>
    </div>

  </form>
</div>

{% endblock %}
