{% extends "repositorio/base.html" %}
{% block content %}
  <div class="content-section">
      <form action="?" method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Borrar modelo</legend>
              <h2> ¿Estás seguro de que quiere eliminar el modelo "{{ object.nombre_modelo }}"?</h2>
          </fieldset>
          <div class= "form-group">
              <button class="btn btn-outline-danger" type="submit"> Borrar </button>
              <button class="btn btn-outline-secondary" href="{% url 'modelokeras-detail' object.id %}" type="submit"> Cancelar </button>
          </div>
      </form>
  </div>
{% endblock content %}
