{% extends "repositorio/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.autor.perfil.imagen.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.autor }}</a>
          <small class="text-muted">{{ object.fecha|date:"d F, Y" }}</small>


        </div>
        <h2 class="article-title">{{ object.nombre_modelo }}</h2>
        <p class="article-content">{{ object.contenido | safe }}</p>
        

        {% if object.autor == user %}

        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'modelo-actualizar' object.id %}">Actualizar</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'modelo-borrar' object.id %}">Eliminar</a>
        </div>

        {% endif %}
      </div>
  </article>
{% endblock content %}
