{% extends "repositorio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"><h2>Predecir</h2></legend>
          {{ form | crispy }}
        </fieldset>
        <div class = "form-group">
          <button type="submit" class="btn btn-primary"> Predecir </button>
        </div>
    </form>
  </div>


{% endblock content %}
