{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="content-section">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Predecir</legend>
          <div class= "form-group">
            <p>Nombre del modelo: </p>
            <select>
              {% for x in url %}
                <option value="{{ x.nombre }}"> {{ x.nombre }} </option>
                {% endfor %}
           </select>
         </div>
         <div class = "form-group">
           <p> Archivos a predecir: </p>
           <input type="file" name="archivossubidos[]" multiple accept=".txt">
         </div>

         <div class = "form-group">
           <p> Introduzca ids: </p>
           <input type="text">
         </div>
        </fieldset>
        <div class = "form-group">
          <button type="submit" class="btn btn-primary"> Predecir </button>
        </div>
    </form>
  </div>


{% endblock content %}
