{% extends "repositorio/base.html" %}
{% block content %}


<div class="content-section">
  <fieldset class="form-group">
    <legend class="border-bottom mb-1"><h2>Resultados</h2></legend>
  </fieldset>
  {% for key,value in procesar.items %}
    {{ value }}
  {% endfor %}
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        {% for key,value in predictions.items %}
          <th> {{ key }}</th>
      </thead>
      <tbody>
        <tr>
          <td> {{ value }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% endblock content %}
