{% extends "repositorio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <div class=content-section>
    <h2>Has cerrado sesión</h2>

    <div class="border-top pt-3">
        <small class="text-muted">
           <p class = "mt-2 pt-2"> Para volver a entrar a la aplicación pulse<a href="{% url 'login' %}">aquí</a>.</p>
        </small>
    </div>
  </div>



{% endblock content %}
