{% extends "repositorio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.perfil.imagen.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>

  <fieldset class="form-group">
    <legend class="border-bottom"><h3>Modelos subidos</h3></legend>
  </fieldset>
  <ul>
    {% for mod in modelo %}
      {% if mod.autor == user %}
        <li> <a href="{% url 'modelokeras-detail' mod.id %}"> {{ mod.nombre_modelo }}</a> </li>
      {% else %}
    {% endif %}
    {% endfor %}
  </ul>
</div>


{% endblock content %}
