{% extends "repositorio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form action="?" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">¡Únete!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class= "form-group">
                <button class="btn btn-outline-info" type="submit"> Registrarse</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                ¿Tiene una cuenta?  <a class="ml-2" href="{% url 'login' %}"> Acceda aquí</a>
            </small>
        </div>
    </div>
{% endblock content %}
